DATABASE_HOST=localhost
DATABASE_PORT=5445
DATABASE_PORT_OUT=5447
DATABASE_USER=club
DATABASE_PASSWORD=club
DATABASE_DB=club

JWT_REFRESH_SECRET=secret123456789
JWT_ACCESS_SECRET=secretaccess123456789
JWT_ACCESS_EXPIRES=5min
JWT_REFRESH_EXPIRES=365d

TELEGRAM_TOKEN=
TELEGRAM_ADMINCHAT_ID=

S3_ACCESS_KEY_ID=club
S3_SECRET_ACCESS_KEY=club123456
S3_URL=http://s3:9000

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

FRONTEND_URL=https://localhost.ru:3000